
<h1>TV Guide</h1>



<p>
  <a href="/movies">Trending Movies</a>
</p>

<p>
  <a href="/shows">Trending Shows</a>

</p>

<p>
  <a href="/searchmovies">Search Movies</a>

</p>

<p>
  <a>Login/SignUp</a>
</p>
