<p id="notice"><%= notice %></p>



<h1> Your Profile Details  </h1><hr>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>



<p>
  <strong>Icon:</strong>
  <br>
 <img src="http://www.freeiconspng.com/uploads/-avatar-people-person-profile-user-women-icon--icon-search-engine-23.png" class="profile">
</p>
