<h1>Watched History</h1>
<div class="row">
  <% @viewedmovie.each do |view| %>

    <div class="col-md-3">
      <img src="<%= view.image%>">
      <div class="caption">
        <br>
        <h1 class="history">Title:
          <%= view.name %></h1>

        <h1 class="history">Year:
          <%= view.year %></h1>
      </div>
    </div>

  <% end %>
</div>
