<h1>Movie Look(Up)</h1>

<form action="/searchmovies/lookup" method="post">

  Text Search:
  <input type="text" name="text_query" placeholder="Movie Title">

  <button>Search</button>

</form>

<p>
  <a href="/viewedmovies">Watched List</a>
</p>

<p>
  <a href="/movies">Favourites</a>
</p>
